* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #0b0b0f;
  color: white;
}

    NAVBAR 

.navbar {
  height: 70px;
  padding: 0 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #111;
  border-bottom: 1px solid #333;
}

.navbar h2 {
  color: #e50914;
}

.navbar div {
  display: flex;
  gap: 20px;
}

.navbar a {
  cursor: pointer;
}

    HOME 

.home {
  min-height: 80vh;
  padding: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 20px;
}

.home h1 {
  font-size: 42px;
  text-align: center;
}

.home p {
  color: #bbb;
}


   BUSCADOR 

.search {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.search input {
  width: 350px;
  padding: 12px;

  background-color: #222;
  color: white;

  border: 1px solid #444;
  border-radius: 8px;
}

button {
  padding: 12px 20px;

  border: none;
  border-radius: 8px;

  background-color: #e50914;
  color: white;

  cursor: pointer;
}

button:hover {
  opacity: .8;
}


   PELICULA 

.movie-card {

  margin-top: 30px;

  width: 300px;

  background-color: #181818;

  padding: 20px;

  border-radius: 15px;

  text-align: center;
}

.movie-card img {

  width: 100%;

  border-radius: 10px;

}

.movie-card h3 {

  margin: 15px 0;

}


   FOOTERr

.footer {

  padding: 20px;

  text-align: center;

  background-color: #111;

  color: #777;

}
.error {
  color: #ff4d4d;
  font-weight: bold;
}
.download-btn {

  display: inline-block;

  margin-top: 15px;

  padding: 12px 20px;

  background-color: #e50914;

  color: white;

  text-decoration: none;

  border-radius: 8px;

  cursor: pointer;

}


.download-btn:hover {

  opacity: .8;

}